extends base

block content 
    img(src="/" + loggedInUser.avatarUrl, width="100", heigth="100")
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar 
        input(type="file", name="avatar", id="avatar", accept="image/*")
        input(type="text", name="name", placeholder="Name", value=name || loggedInUser.name)
        if errorEmail
            span=errorEmail
        input(type="text", name="email", placeholder="Email", value=email || loggedInUser.email)
        if errorUsername
            span=errorUsername        
        input(type="text", name="username", placeholder="Username", value=username || loggedInUser.username)
        input(type="text", name="location", placeholder="Location", value=location || loggedInUser.location)
        input(type="submit", value="Update profile")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change password &rarr;