extends base.pug

block content 
    h1=video.title
    video(src="/" + video.filePath, controls)
    h3 #{video.views} #{video.views === 1 ? "view" : "views"}
    small #{video.hashtags}
    hr
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;